<div class="cafe-light">
  <paper-item class="tag-heading">Tags</paper-item>
  <paper-button toggles class="custom green">
    <iron-icon icon="maps:local-offer"></iron-icon>2-3 PM</paper-button>
  <paper-button toggles class="custom green">
    <iron-icon icon="maps:local-offer"></iron-icon>8-10 PM</paper-button>
  <paper-button toggles class="custom green">
    <iron-icon icon="maps:local-offer"></iron-icon>Face</paper-button>
  <paper-button toggles class="custom green">
    <iron-icon icon="maps:local-offer"></iron-icon>Team</paper-button>
  <paper-button toggles class="custom green">
    <iron-icon icon="maps:local-offer"></iron-icon>Kids</paper-button>
  <paper-button toggles class="custom green">
    <iron-icon icon="maps:local-offer"></iron-icon>Chennai</paper-button>
  <paper-button toggles class="custom green">
    <iron-icon icon="maps:local-offer"></iron-icon>Coimbatore</paper-button>
</div>