  <style>
  .rowcontainer {
    @apply(--layout-horizontal);
    max-width: 1200px;
    margin: auto;
  }
  
  .columncontainer {
    @apply(--layout-vertical);
    max-width: 25%;
  }
</style>

<div class="rowcontainer">
  <div class="columncontainer">
    <div *ngFor="let post of posts;let i=index">
      <app-post *ngIf="i % 4 === 0" [post]="post"></app-post>
    </div>
  </div>
  <div class="columncontainer">
    <div *ngFor="let post of posts;let i=index">
      <app-post *ngIf="i % 4 === 1" [post]="post"></app-post>
    </div>
  </div>
  <div class="columncontainer">
    <div *ngFor="let post of posts;let i=index">
      <app-post *ngIf="i % 4 === 2" [post]="post"></app-post>
    </div>
  </div>
  <div class="columncontainer">
    <div *ngFor="let post of posts;let i=index">
      <app-post *ngIf="i % 4 === 3" [post]="post"></app-post>
    </div>
  </div>
</div>